header {
    color: #80c7dd;
    background-image: url('https://i.imgur.com/MLTDMbr.jpg');
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}

body {
    /*   font-family: Arial, sans-serif; */
    background-color: #cbd4d8;
    /*   text-align: left;  */
}

.decorative-paragraph {
    border: 2px solid #333;
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
}

.decorative-heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    text-align: left;
    text-shadow: 2px 2px #e8d559;
    padding: 20px;
    margin: 0;
    color: #e99507;
}

.rec1 {
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 20px;
    margin: 0;
}

.rec2 {
    background-color: #cbd4d8;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 20px;
    margin: 0;
}

.title1 {
    color: #e99507;
    text-align: left;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 80px;
}

.icon {
    width: 50px;
    height: 50px;
}

.photo {
    width: 1000px;
    height: 500px;
}


.table1 {
    color: black;
    margin: 0 auto;
}

.table2 {
    float: left;
    border: 3px solid #e99507;
    width: 300px;
    height: 400px;
    color: #0a0a0a;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-left: 15%;
    margin-top: 25px;
}

.row {
    border: 0px solid;
    padding: 30px;
    background-color: #adb5b8;
}

.row2 {
    border: 0px solid;
    padding: 30px;
    background-color: #cbd4d8;
}
